{% extends "admin/change_form.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load mytemplatetags %}


{% block object-tools %}
{% ifusergroup ms_scheduling %}
{% if change %}{% if not is_popup %}
  <ul class="grp-object-tools">
    {% block object-tools-items %}
    <li><a href="{% url opts|admin_urlname:'history' original.pk|admin_urlquote %}" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="{% url 'admin:view_on_site' content_type_id original.pk %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endifusergroup %}
{% endblock %}


