{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script type="text/javascript" src="/media/js/ajax_function.js"></script>




{% endblock %}



{% block after_related_objects %}
{% if original.pk %}

<div class="grp-group grp-tabular">

<h2>Chart Preview</h2>
Click 'Save and continue editing' to refresh after modifications.
<div id="chart_preview"></div>

<script type="text/javascript">
(function($) {
$('#chart_preview').load(getChart({{original.pk}}));
})(grp.jQuery);
</script>
</div>
{% endif %}
{% endblock %}