{% extends "admin/change_form.html" %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script type="text/javascript" src="/media/js/ajax_function.js"></script>




{% endblock %}



{% block after_related_objects %}
{% if original.pk %}

<script type="text/javascript" src="/media/js/jquery-1.8.2.min.js"></script>



<div id="report_preview" class="grp-group grp-tabular"></div>

<script type="text/javascript">
jQuery(function($) {
	$('#report_preview').load(getReport({{original.pk}}));


});

</script>






{% endif %}
{% endblock %}