{% load mytemplatetags %}


{% if header %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highstock Example</title>

<script type="text/javascript" src="/media/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/media/js/Highstock-1.2.4/js/highstock.js"></script>
<script type="text/javascript" src="/media/js/Highstock-1.2.4/js/modules/exporting.js"></script>

{% endif %}

<script type="text/javascript">
		



var flags{{position}} = [];
var seriesOptions{{position}} = [];
var seriesCounter{{position}} = 0;		

$(function() {
	
	
	// Get data for series to display on the chart
    var names{{position}} = [ {% for s in series %}'{{s.name}}???{{s.pk}}' {% if forloop.last %}{% else %},{% endif %}{% endfor %} ];

    $.each(names{{position}}, function(i, name) {
		seriesId = name.split("???")[1];
		
		
		
        $.getJSON('{{ chart_data_link }}/' + seriesId + '/?&callback=?',    function(data) {

			seriesId = name.split("???")[1];
			seriesName = name.split("???")[0];
			

            seriesOptions{{position}}[i] = {
                name: seriesName,
                data: data,
                marker: {
                    enabled : true,
                    radius : 3
                }
            };

            // As we're loading the data asynchronously, we don't know what order it will arrive. So
            // we keep a counter and create the chart when all the data is loaded.
            seriesCounter{{position}}++;
            
            $("#loadingmsg{{position}}").append("<br />Retrieving data (" + seriesCounter{{position}} + "/" + names{{position}}.length +  "):  " + seriesName);

            if (seriesCounter{{position}} == names{{position}}.length) {
                createChart{{position}}();
            }
        });
    });
    
    
    
    
    // Get Events to be displayed as flag on the chart
	flags{{position}} =  [ 
	{% for event in events %}
		    {
				type: 'flags',
				data: [{
					x: new Date({{event.datetime|epoch}}),
					title: '{{ event.event_type|slice:"1" }}',
					text: '<b>{{event.instrument_name}} - {{ event.event_type }}</b><br />{{ event.name|splitLine }}'
				}],
				{% if event.event_type|slice:"1" == 'F' %}
					shape: 'squarepin',
            		color: '#AA4643',
            	{% else %}
            		{% if event.event_type|slice:"1" == 'N' %}
						shape: 'squarepin',
            			color: '#E87600',
            		{% else %}
            			{% if event.event_type|slice:"1" == 'C' %}
            				shape: 'circlepin',
            				color: '#006000',
            			{% else %}
            				shape: 'circlepin',
            				color: '#8b8989',
            			{% endif %}
            		{% endif %}
            	{% endif %}
				width: 16,
				showInLegend: false,
				events: {
        			click: function(event) {
        				location.href='/admin/MSQCdb_app/eventlog/{{ event.pk }}/';
        			}
        		}
			},
	{% endfor %}
	]
    
});		



			
// create the chart when all data is loaded
function createChart{{position}}() {		
		
		Highcharts.setOptions({
    		global: {
        		useUTC: true
    		}
		});

		
		// Create the chart
		window.chart{{position}} = new Highcharts.StockChart({
			
		    chart: {
		        renderTo: 'container{{position}}',
		        type: 'line',
		        zoomType: 'x'
		    },
			credits: {
                enabled: false
            },
		    rangeSelector: {
		        selected: 1
		    },
			legend: {
            	enabled: true,
            	align: 'left',
            	verticalAlign: 'top',
            	floating: true,
            	x: 275,
            	y: 27
           	},
		    title: {
		        text: '{{ chartObject.title }}'
		    },
            xAxis: {
                type: 'datetime',
                ordinal: false

            },
		    yAxis: {
		        title: {
		            text: '{{ chartObject.yAxisTitle }}'
		        }
		    },
			scrollbar : {
				enabled : false
			},
			tooltip: {
	            useHTML: true
        	},
			plotOptions: {
                series: {
                    marker: {
                        lineWidth: 1
                    }
                }
            },
			
			
			series: seriesOptions{{position}}.concat(flags{{position}})
			
		});
		


}
</script>

{% if header %}
</head>
	<body>
{% endif %}

<div id="container{{position}}">
	<font size=2>
	<br /><img src="{{ MEDIA_URL }}img/ajax-loader.gif" /> Generating chart...please wait...
	<div id="loadingmsg{{position}}"></div>
	</font>
</div>

{% if header %}
	</body>
</html>
{% endif %}