{% load mytemplatetags %}



<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>MSQCdb - ChartView - Instrument TOSET</title>

		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.8.2.min.js"></script>
		<script type="text/javascript">
		

var seriesOptions = [];
var seriesCounter = 0;		
		
$(function() {
	
    var names = [
    {% for s in series %}
    '{{s.name}}???{{s.pk}}',
    {% endfor %}
    ];

    $.each(names, function(i, name) {
		seriesId = name.split("???")[1];
		
        $.getJSON('{{ chart_data_link }}/' + seriesId + '/?&callback=?',    function(data) {

			seriesName = name.split("???")[0];

            seriesOptions[i] = {
                name: seriesName,
                data: data,
                marker : {
                    enabled : true,
                    radius : 3
                },
            };

            // As we're loading the data asynchronously, we don't know what order it will arrive. So
            // we keep a counter and create the chart when all the data is loaded.
            seriesCounter++;

            if (seriesCounter == names.length) {
                createChart();
            }
        });
    });
});		


// create the chart when all data is loaded
function createChart() {		
		
		Highcharts.setOptions({
    		global: {
        		useUTC: true
    		}
		});

		
		// Create the chart
		window.chart = new Highcharts.StockChart({
		    chart: {
		        renderTo: 'container',
		        zoomType: 'x'
		    },
			credits: {
                enabled: false
            },
		    rangeSelector: {
		        selected: 1
		    },
			legend: {
            	enabled: true,
            	align: 'left',
            	verticalAlign: 'top',
            	floating: true,
            	x: 275,
            	y: 27,
           	},
		    title: {
		        text: '{{ chartObject.title }}'
		    },
            xAxis: {
                type: 'datetime',
                ordinal: false,

            },
		    yAxis: {
		        title: {
		            text: '{{ chartObject.yAxisTitle }}'
		        }
		    },
			scrollbar : {
				enabled : false
			},
			tooltip: {
	            useHTML: true,
        	},
			plotOptions: {
                series: {
                    marker: {
                        lineWidth: 1,
                    }
                }
            },
			
			
			series: seriesOptions
			
			
		});

}
		</script>
	</head>
	<body>
<script src="{{ MEDIA_URL }}js/Highstock-1.2.2/js/highstock.js"></script>
<script src="{{ MEDIA_URL }}js/Highstock-1.2.2/js/modules/exporting.js"></script>

<div id="container" style="height: 500px; min-width: 500px"></div>
	</body>
</html>
