<script type="text/javascript" src="/media/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/media/js/ajax_function.js"></script>


<table width="100%" style="table-layout: fixed;"><tr>
{% for chart in charts %}
<td>
<div id="chart_preview-{{chart.position}}"></div>
</td>
{% if forloop.counter|divisibleby:columns %}
	</tr><tr>
{% endif %}



{% endfor %}
</tr>
</table>

{% for chart in charts %}
<script type="text/javascript">
$('#chart_preview-{{chart.position}}').load(getChart({{chart.chart.pk}}, {{chart.position}}));
</script>
{% endfor %}
